*.txt
question1SurfLowest
question1SurfHighest
question1AirLowest
question1AirHighest
weatherInput
WeatherData
.zip
Question3
Question4
9qWeather
9qWeatherMonth
BayAreaWeatherMinMax
question1Data
question2Dry